# Service file for systemd on Debian-based systems
# Copy to /etc/systemd/system

[Unit]
Description=ShardUO Daemon
After=network.target

[Service]
Type=simple
Restart=always
User=sharduo
Group=sharduo
WorkingDirectory=/home/sharduo/TrammelTime
ExecStart=/home/sharduo/TrammelTime/uod

[Install]
WantedBy=multi-user.target
