html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: AliceBlue;
    background-color: MidnightBlue;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: CornflowerBlue;
}
